extends baseEmail

block content
  p Hi #{firstname},
  p You are receiving this email because we received a password reset request for your account.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset Password
  p If you didn't forget your password, Please ignore this email
