footer
    .footer-1
      .footer-feature
        h4 FEATURES
        ul
          li
            a(href='#') Reviews
          li
            a(href='#') Community
          li
            a(href='#') Social Media Kit
          li
            a(href='#') Affiliate
      .footer-account
        h4 ACCOUNT
        ul
          li
            a(href='#') Refund
          li
            a(href='#') Security
          li
            a(href='#') Reward
      .footer-company
        h4 COMPANY
        ul
          li
            a(href='#') Contact
          li
            a(href='#') Help Center
          li
            a(href='#') FAQ
          li
            a(href='#') Privacy Policy
      .footer-follow
        h4 FOLLOW US
        ul
          li
            a(href='#')
              img(src='/img/facebook.svg' alt='')
          li
            a(href='#')
              img(src='/img/instagram.svg' alt='')
          li
            a(href='#')
              img(src='/img/twitter.svg' alt='')
    .footer-2
      | 2020 Copyright PT DeTours Indonesia • All rights reserved • Made in Jakarta