extends base

block content
  main
    section#form
      .form-content
        .form-header
          h1 Reset Password
        form#forgot-password
          label(for='email') Email Address
          input#email(type='email' required='' placeholder='you@example.com')
          button.btn.btn-form.btn-forgot(type='submit') Send