extends base

block content
  main
    section#form
      .form-content
        .form-header
          h1 Reset Password
        form#reset-password
          label(for='password') New Password
          input#password(type='password' required='' placeholder='••••••••' minlength='8')
          label(for='confirmPassword') New Confirm Password
          input#confirmPassword(type='password' required='' placeholder='••••••••' minlength='8')
          button.btn.btn-form#resetPassword(type='submit', data-token=`${token}`) Reset Password